<form method="POST" action="/new">
  <h1>New Message</h1>
  <label for="name">Name:</label><br>
  <input type="text" id="name" name="name"><br>
  <label for="message">Message:</label><br>
  <input type="text" id="message" name="message"><br>
  <input class="submitButton" type="submit" value="Submit">
</form>